
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #2a75bb; 
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e0a800;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

thead {
  background-color: #ffcb05; 
  color: #2a75bb;
}

thead.altered {
  background-color: #2a75bb; 
  color: #ffcb05;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}