<h1>Estadisticas Pokémons de Kanto</h1>
<button (click)="changeTable()">Change Table View</button>
<table>
   <thead [ngClass]= "{'altered': isAltered}">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>HP</th>
            <th *ngIf="!isAltered">Attack</th>
            <th *ngIf="!isAltered">Defense</th>
            <th *ngIf="isAltered">Speed Attack</th>
            <th *ngIf="isAltered">Speed Defense</th>
        </tr>
   </thead>
   <tbody>
        <tr *ngFor="let pokemon of pokemonInfo">
            <td>{{pokemon.id}}</td>
            <td>{{pokemon.name.english}}</td>
            <td>{{pokemon.type}}</td>
            <td>{{pokemon.base.HP}}</td>
            <td *ngIf="!isAltered">{{pokemon.base.Attack}}</td>
            <td *ngIf="!isAltered">{{pokemon.base.Defense}}</td>
            <td *ngIf="isAltered">{{pokemon.base['Sp. Attack']}}</td>
            <td *ngIf="isAltered">{{pokemon.base['Sp. Defense']}}</td>
        </tr>
   </tbody>
</table>
